.itemGeneralGroup, .itemBookmarkedGroup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



.itemsGeneralTitle, .itemsBookmarkedTitle {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    font-size: 28px;
    margin-left: 180px;
}

.itemsBookmarkedTitle {
    margin-top: 50px;
}

.homeList {
    margin-top: 150px;
    margin-left: auto;
}